/* Font Files */
@font-face {
  font-family: 'GT-America-Standard-Regular';
  src: url('GT-America-Standard-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('GT-America-Standard-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('GT-America-Standard-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 400;
}

@font-face {
    font-family: 'GT-America-Standard-Light';
    src: url('GT-America-Standard-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('GT-America-Standard-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('GT-America-Standard-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: 300;
}


/* Styles */
body {
    background-color: #95FF6B;
    text-rendering: optimizeLegibility;
    margin:0;
	padding:0;
	height:100%; /* needed for container min-height */
}

h1 {
    font-family: 'GT-America-Standard-Ligth', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15vw;
    letter-spacing: -0.01em;
    line-height: 32px;
    color: black; 
}

p {
    font-family: 'GT-America-Standard-Regular', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 16px;
    color: #000;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255); 
}

a:presse {
    color: rgb(255, 255, 255); 
}


nav {
    position:relative; 
    width: 100%;
    text-align: center
}

footer {
    position: fixed;
    left: 10%;
    right: 10%;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.871);
    bottom: 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}