@font-face {
  font-family: 'GT-America-Standard';
  src: url('/fonts/GT-America-Standard-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/GT-America-Standard-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/GT-America-Standard-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/GT-America-Standard-Regular.svg') format('svg'); /* Legacy iOS */
       font-weight: 400;
       font-style: normal;
       font-display: auto;
}

@font-face {
    font-family: 'GT-America-Standard';
    src: url('/fonts/GT-America-Standard-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/fonts/GT-America-Standard-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('/fonts/GT-America-Standard-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('/fonts/GT-America-Standard-Light.svg') format('svg'); /* Legacy iOS */
    font-weight: 300;
    font-style: normal;
    font-display: auto;
}


/* Styles */

::selection {
    /* Change highlight background color to black */
    background: #95FF6B;
    /* Change highlight text color to red */
    color: #000;
  }

body {
    background-color: #FBF9EC;
    margin: 10px 10px 10px 10px;    
}

.FS_mainWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_tagline {
    margin-top: 33vh;
    margin-bottom: 33vh;
}

h1 {
    font-family: 'GT-America-Standard', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 15vw;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-feature-settings: "ss03";
    letter-spacing: -0.03em;
    line-height: 4vw;
    color: black; 
}

p {
    font-family: 'GT-America-Standard', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-feature-settings: "ss03";
    letter-spacing: -0.03m;
    line-height: 14px;
    color: #000;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255); 
}

a:pressed {
    color: rgb(255, 255, 255); 
}


.FS_contain {
    background-color: #E2DED2;
    overflow: scroll;
    border-radius: 50px;
    position:relative; 
    width: 100%;
    height: 100%;
    text-align: center
}

.photo_frame {

}

.text_list {
    text-align: center

}

footer {
    position: fixed;
    padding: 0px 25px 0px 25px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .FS_contain {
        background-color: #FBF9EC;
        overflow: scroll;
        border-radius: 25px;
        position:relative; 
        width: 100%;
        height: 100%;
        text-align: center
    }

    footer {
        position: fixed;
        left: 0%;
        right: 0%;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.5);
        bottom: 0;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }

    p {
        font-family: 'GT-America-Standard', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: -0.03m;
        line-height: 16px;
        color: #000;
    }
  }